/* additional fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');

/* 

font-family: 'Manrope', sans-serif;

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

/* common styles */

h3{
    font-size: 24px;
}

p{
    font-size: 16px;
}
.btn{
    width: 196px;
    height: 44px;
    outline: 0;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #E02C6D;
    cursor: pointer;
}
.btn:hover{
    color: #E02C6D;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px #aa2053;
    transform: scale(1.2);
    transition: color .7s ease-in, background-color .7s ease-in, transform .7s ease-in;
}
hr{
    width: 1110px;
    height: 1px;
    background-color: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);

}
h2{
    font-size: 28px;
}

.card .card-info>span{
    display: block;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #787885;
}
/* header styling starts */
header nav{
    display: flex;
    justify-content: space-between;
    margin: 87px 120px 80px 120px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px ;
    margin-left: 15px;
    padding: 20px 10px;
}

/* top parts starts from here */

.top{
    display: flex;
}
.top-text{
    margin: 60px 130px 170px 120px;
}
.top-text h1{
    font-size: 54px;
}
#top-btn{
    border-radius: 41px;
    margin-top: 25px;
}
.top img{
    width: 440px;
    height: 414px;
    margin-right: 50px;
    background-image: url(../images/Circle-design.svg);
    background-size: 400px;
    background-repeat: no-repeat;
}

/* company logo part starts from here */

.company-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.logo{
    margin: 36px 0 30px 0;
    
}
.logo img{
    margin-left: 60px;
}

/* popular collection part strats from here */

.popular-collection{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.popular-collection>h2{
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 190px 0 130px;
}
.card{
    width: 329px;
    height: 476px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.cards .card .card-image{
    width: 300px;
    height: 256px;
    margin: 17px 15px 0 14px;
}
.cards .card .card-info{
    margin-left: 14px;
    margin-top: 16px;
}
.cards .card .card-info h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 6px 0;
}
.cards .card .card-info .rating{
    margin-bottom: 5px;
}
.cards .card .card-info .rating .fas{
    font-size: 10px;
}
.cards .card .card-info .rating .filled{
    color: #FB8200;
}
.cards .card .card-info .rating .empty{
    color: rgb(173, 173, 173);
}
.cards .card .card-info .rating span{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.popular-collection a{
    text-decoration: none;
    text-align: right;
    margin-right: 190px;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87)
}
/* trust part here */
.trust{
    display: flex;
    margin-bottom: 100px;
}
.trust img{
    width: 404px;
    height: 270px;
    border-radius: 5px;
    margin: 50px 100px 0 160px;
}
.trust-text{
    margin-top: 100px;
}
.trust-text>h2{
    font-size: 38px;
}
.trust-text p{
    margin: 16px 0;
}
#trust-btn{
    width: 155px;
    height: 44px;
}
/* footer starts from here*/
footer{
    width: 100%;
    height: 239px;
    background-color: #0A0826;
    text-align: center;
    color: #ffffff;
}
footer .footer-text{
    padding: 50px 0;
}
footer .footer-text span{
    display: block;
}
footer .icons a{
    text-decoration: none;
    color: #ffffff;
}
footer .icons .fab{
    margin: 0px 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #1d185c;
}


/* media query strats from here */
/* mobile view */
@media (min-width: 688px) {
    header nav #menu{
        display: hidden;
    }
    .top img{
        width: 257px;
        height: 257px;
    }
}